---
import elantris from '../assets/elantris.png';
---

<div id="container">
	<main>
		<section id="hero">
			<h1>
				Cosmereview
			</h1>
		</section>
		<section id="reviews">
			<div
			id="book-container"
			style={{
			  borderRadius: '50%',
			  width: '100px',
			  height: '100px',
			  background: `url(${elantris.src}) no-repeat center center`,
			  backgroundSize: 'cover',
			  content: 'Elantris'
			}}
		  ></div>
		</section>
	</main>
</div>

<style>
	#hero {
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
		color: white;
	}

</style>
